---
layout: default

# About section
about_title: "ABOUT"
about_intro: "Have you ever felt like boys practicing pole dancing is underrepresented in social media? Have you ever felt judged from doing something that you really love?<br>
That's why we started this <strong>community</strong> where boys from any nationality, race, build or sexual orientation can comfortably share their pole interest in a safe place."
about_subtitle: "Heels, sneakers, or bare feet?"
about_prelist: "What do you prefer? Show us doing what you like most"
about_itemL1: "Spinning or static combos"
about_itemL2: "Amazing flips"
about_itemL3: "Stretching poses"
about_itemL4: "Prep workouts"
about_itemR1: "Powerful choreos"
about_itemR2: "Advanced tricks"
about_itemR3: "Intermediate trics"
about_itemR4: "Beginner tricks"
about_end: "Currently, there are not that many men in the pole dance world. Society's ridged view of masculinity and antiquated ideals of what it means to be 'manly' have discouraged guys from getting on the pole. Those daring enough to try, discover new abilities they never thought they had. It's crucial to consider the marvelous contributions men and male presenting individuals make to living art of pole movement. - "
about_link: <a href="https://poleconvention.com/general/men-of-pole/" target="_blank">Polecon International, Men of Pole, July 2020 by Lori Lu.</a>
# FAQs
FAQ_title: "FAQs"
FAQ_subtitle: "Got any question not answered below? Feel free to slide a DM or send us an email and we will answer you ASAP."

FAQ_Q1: "What qualifies for sharing?"
FAQ_A1: "<ul>
  <li>Pictures or videos with any of the points described in the About section</li>
  <li>At least one male-identifying human who looks over 16</li>
  <li>Activity on the pole dancing should be the main focus, the boy is a bonus</li>
</ul>"

FAQ_Q2: "How do I submit my content to Boys on Poles?"
FAQ_A2: "<ul>
  <li>Your account has to be <strong>public</strong></li>
  <li>Tag @boysonpoles on your posts/stories</li>
</ul>"

FAQ_Q3: "What type of boys do you feature?"
FAQ_A3: "<p><strong>All of them!</strong> If you practice pole dancing then you're the type!</p>"

FAQ_Q4: "I'm new to pole dancing, can I still share?"
FAQ_A4: "<p>Welcome and of course! We would love to see new faces joining this community, please do share with us the new tricks you've learnt!</p>"

# sections removed
# {% include facts-section.html %} <--- This will be the amount of followers, reach, etc of the account in the future
# {% include skills-section.html %} <--- Tag analysis in the future
# {% include portfolio-section.html %} <--- This will be taking pics from INS in the future
# {% include services-section.html %} <--- Sponsors in the future
# {% include testimonials-section.html %}
# {% include contact-section.html %}
---

  {% include hero-section.html %}

  <main id="main">
    {% include about-section.html %}

    {% include resume-section.html %}

  </main><!-- End #main -->