<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>{{ page.about_title }}</h2>
        <p>{{ page.about_intro }}</p>
      </div>

      <div class="row">
        <div class="col-lg-4 d-none d-lg-block">
          <img src="assets/img/pole-about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 col-md-12 pt-4 pt-lg-0 content">
          <h3>{{ page.about_subtitle }}</h3>
          <p class="fst-italic">
            {{ page.about_prelist }}
          </p>
          <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-6">
              <ul>
                <li><i class="bi bi-check"></i> <strong>{{ page.about_itemL1 }}</strong></li>
                <li><i class="bi bi-check"></i> <strong>{{ page.about_itemL2 }}</strong></li>
                <li><i class="bi bi-check"></i> <strong>{{ page.about_itemL3 }}</strong></li>
                <li><i class="bi bi-check"></i> <strong>{{ page.about_itemL4 }}</strong></li>
              </ul>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-6">
              <ul>
                <li><i class="bi bi-check"></i> <strong>{{ page.about_itemR1 }}</strong></li>
                <li><i class="bi bi-check"></i> <strong>{{ page.about_itemR2 }}</strong></li>
                <li><i class="bi bi-check"></i> <strong>{{ page.about_itemR3 }}</strong></li>
                <li><i class="bi bi-check"></i> <strong>{{ page.about_itemR4 }}</strong></li>
              </ul>
            </div>
          </div>
            {{ page.about_end }}
            {{ page.about_link }}
          
        </div>
      </div>

    </div>
  </section><!-- End About Section -->