<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>{{ page.FAQ_title}}</h2>
        <p>{{ page.FAQ_subtitle}}</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Frequently Asked Questions</h3>
          <div class="resume-item">
            <h4>{{ page.FAQ_Q1 }}</h4>
            {{ page.FAQ_A1 }}
          </div>
          <div class="resume-item">
            <h4>{{ page.FAQ_Q3}}</h4>
            {{ page.FAQ_A3}}
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title"> <br></h3>
          <div class="resume-item">
            <h4>{{ page.FAQ_Q2 }}</h4>
            {{ page.FAQ_A2 }}
          </div>
          <div class="resume-item">
            <h4>{{ page.FAQ_Q4 }}</h4>
            {{ page.FAQ_A4 }}
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->